.music-player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

/* .disc {
  width: 100px;
  height:100px;
  border-radius: 50%;
  font-size: 2rem;
  background: radial-gradient(circle at center, #fff 40%, #d63384 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(255, 0, 255, 0.5);
} */

.rotate {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
